.CharBox {
    float: left;

    input {
        width: 60px;
        height: 60px;
        border-radius: 10px;
        font-size: 40px;
        text-align: center;
        background-color: darkred;
        color: white;
        margin: 10px;
        border: 0px;
    }

    .clicked {
        background-color: darkgrey;
    }

    @media screen and (max-width : 600px) {
        input {
            height: 10vw;
            width: 10vw;
            margin: 5px;

            min-height: 45px;
            min-width: 45px;
        }
    }
}
