.AllWords {
    text-align: center;
    background-color: #717171;
    border-radius: 20px;
    max-width: 80vw;
    min-width: 200px;
    padding: 20px;

    .list {
        -moz-column-width: 10em;
        -webkit-column-width: 10em;
        column-width: 10em;

        ul {
            list-style-type: none;
            padding: 0px;
        }

        ul li:first-child {
            margin-top:0px;
        }
    }

    .warning {
        font-size: 30px;
        color: yellow;
    }
}
